@font-face {
    font-family: '04B30';
    src: url('./assets/04b_30.woff2');
}

body {
    background-color: #202225;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    padding-top: 1rem;
}

#hi-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: '04B30', 'sans-serif';
    font-size: 2rem;
    color: #909191;
}
